{erl_opts, [
  {parse_transform, lager_transform},
  debug_info, fail_on_warning
]}.

{deps, [
  {lager, ".*",
    {git, "https://github.com/basho/lager.git", "master"}},
  {jsx, ".*",
    {git, "https://github.com/talentdeficit/jsx.git", "master"}},
  {uuid, ".*",
    {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {poolboy, ".*",
    {git, "https://github.com/devinus/poolboy.git", "master"}},
  {exec, ".*",
    {git, "https://github.com/saleyn/erlexec.git", "master"}},
  {sync, ".*",
    {git, "https://github.com/rustyio/sync.git", "master"}}
]}.

% {eunit_opts, [verbose]}.
