[
  {sync, [
    {log, []}
    %{non_descendants, fix},
    %{executable, auto},
    %{excluded_modules, []}
  ]},
  {sasl, [
    {errlog_type, error}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "console.log"}, {level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]}
].
